* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ccc;
}

.container {
  max-width: 900px;

  margin: 0 auto;
}

.apply_box {
  background-color: white;
  max-width: 600px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
  border-radius: 10px;
}
.small_title {
  font-size: 20px;
}
.form_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
.form_control {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
label {
  margin-bottom: 5px;
  font-size: 15px;
}
input,
select,
textarea {
  padding: 6px 10px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
input:focus {
  outline-color: brown;
}

textarea:focus {
  outline-color: brown;
}

select:focus {
  outline-color: brown;
}
.button_container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
button {
  background-color: red;
  color: white;
  border: transparent solid 2px;
  padding: 5px 10px;
  border-radius: 10px;
  transition: 0.3s ease-in;
}

button:hover {
  background-color: #ccc;
  border: 2px solid red;
  color: black;
  transition: 0.3s ease-out;
  cursor: pointer;
}

.textarea_control textarea {
  width: 100%;
}
@media (max-width: 460px) {
  .textarea_control {
    grid-column: 1 / span 1;
  }
}
